<template>
  <q-page padding>
      <div class="svg-container">
          <svg class="svg-content" width="100%" height="100%">
              <polygon points="0,0 1600,0 0,500" style="fill:#f8f8f8;" />
              Sorry, your browser does not support inline SVG.
          </svg>
      </div>
      <div class="row justify-center full-height full-width text-center">
        <div class="col-12">
<!--          <q-img-->
<!--                  id="mat-logo"-->
<!--                  :src="'assets/logo.svg'"-->
<!--                  spinner-color="white"-->
<!--                  :transition="'slide-right'"-->
<!--          />-->
          <h3>Remove Metadata</h3>
          <p>
            The file you see is just the tip of the iceberg. Remove the hidden metadata with MAT2.
          </p>
            <div class="q-pa-md" v-show="cleaningResults.successful.length > 0">
                <q-toolbar class="bg-primary text-white shadow-2">
                    <q-toolbar-title>Cleaned Files</q-toolbar-title>
                </q-toolbar>

                <q-list bordered separator>
                    <q-item v-for="file of cleaningResults.successful" :key="file.response.data.key" class="q-my-sm" clickable v-ripple>
                        <q-item-section>
                            <a :href="file.response.data.download_link">
                                <q-item-label>{{file.response.data.output_filename}}</q-item-label>
                            </a>
                        </q-item-section>
                    </q-item>
                </q-list>
            </div>
            <div class="q-pa-md" v-show="cleaningResults.failed.length > 0">
                <q-toolbar class="bg-secondary text-white shadow-2">
                    <q-toolbar-title>Failed Files</q-toolbar-title>
                </q-toolbar>

                <q-list bordered separator>
                    <q-item v-for="file of cleaningResults.failed" :key="file.id" class="q-my-sm" clickable v-ripple>
                        <q-item-section>
                            <q-item-label>{{file.data.name}}</q-item-label>
                        </q-item-section>
                    </q-item>
                </q-list>
            </div>
        </div>
        <div v-show="cleaningResults.successful.length === 0 && cleaningResults.failed.length === 0" id="drag-drop-area" class="self-center"></div>
      </div>
  </q-page>
</template>

<style>
  #drag-drop-area {
      width: 40%;
      max-height: 40%;
  }
  .svg-container {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      padding-bottom: 100%;
      vertical-align: middle;
      overflow: hidden;
      z-index: -10;
  }
  .svg-content {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
  }
  .uppy-Dashboard-inner {
      min-height: 0 !important;
  }
</style>

<script>
const Uppy = require('uppy')
import JSONUploader from '../uppy/JSONUploader'

export default {
  name: 'PageIndex',
  data: function () {
    return {
      cleaningResults: {
        successful: [],
        failed: []
      },
      supportedExtensions: [],
      apiUrl: process.env.API_URL ? process.env.API_URL : 'http://localhost:5000/'
    }
  },
  methods: {
    loadSupportedFileExtensions: function () {
      return this.$axios.get(this.apiUrl + 'api/extension')
    },
    startUppy: function () {
      const uppy = Uppy.Core({
        autoProceed: false,
        restrictions: {
          maxFileSize: 16777216, // 16MB
          allowedFileTypes: this.supportedExtensions
        }
      }).use(Uppy.Dashboard, {
        inline: true,
        target: '#drag-drop-area',
        height: '40%',
        showProgressDetails: true,
        proudlyDisplayPoweredByUppy: false,
        showLinkToFileUploadResult: false
      }).use(Uppy.Webcam, {
        target: Uppy.Dashboard
      }).use(JSONUploader, {
        endpoint: this.apiUrl += 'api/upload'
      })
      uppy.on('complete', (result) => {
        this.cleaningResults = result
      })
    }
  },
  mounted () {
    this.loadSupportedFileExtensions().then((response) => {
      this.supportedExtensions = response.data
      this.startUppy()
    })
      .catch(() => {
        this.$q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem'
        })
      })
  }
}
</script>
